body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;    
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 30px;
    color: #fff;
    margin-right: 30px;
    font-size: 16 px;
    text-transform: uppercase;
}

.main{
    width: 1920px;
    height: calc(1067px - 60px);
    background:url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C%201.png) 90% 100%/auto 85% no-repeat , url(../img/%D1%84%D0%BE%D0%BD%201.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 20px;
    margin-top: 50px 14px 0px 14px;
}

.about_me_conteiner h2{
    border-bottom: 4px solid #d17700;
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 10px;
    color: #2c384a;
}

.about_me_conteiner{
    width: 740px;
    margin: 0 auto;
}

.about_me_conteiner img{
    display: block;
    margin: 0 auto;
}

.about_me_conteiner p{
    margin-top: 30px;
}

.about_me_conteiner .p2{
    margin-top: 15px;
}

.about_me input{
    height: 34px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 17px;
    padding: 0px 16px;
    margin: 35px 0px 0px 290px;
}

.skills{
    background:url(../img/%D1%87%D1%82%D0%BE%20%D1%8F%20%D1%83%D0%BC%D0%B5%D1%8E%20%D1%84%D0%BE%D0%BD.jpg) 50% 50%/1920px  523px no-repeat local;
    height: 199px auto;
}

.skills h2{
    border-bottom: 4px solid #d17700;
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 199px 0px 0px 908px;
    padding-bottom: 10px;
    color: #2c384a;
}

.skills_item1{
    float: left;
    width: 200px;
    text-align: center;
    margin: 147px 77px 177px 414px;
    
}

.skills_item{
    float: left;
    width: 200px;
    text-align: center;
    margin: 147px 77px 177px 0px;
}

.cases h2{
    border-bottom: 4px solid #d17700;
    text-align: center;
    width: 72px;
    font-size: 22px;
    margin: 87px auto;
    padding-bottom: 10px;
    color: #2c384a;
}

.cases p{
    padding-bottom: 38px;
    margin: 63px 0px 0px 660px;
}

.cases img{
    margin: 0px 0px 0px 389px;
}

.h2_1 h3{
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    margin: 39px 0px 0px 389px;
}
.h2_1 p{
    margin: 6px 0px 0px 388px;
}

.h2_2 h3{
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    margin: -10px 0px 0px 389px;
}

.h2_2 a{
    margin: 6px 0px 0px 388px;
}

.h2_3 h3{
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    margin: -100px 0px 0px 674px;
}

.h2_3 p{
    margin: 15px 387px 0px 674px;
}

.h2_4{
    margin: 15px 1330px 0px 389px;
}